@import url('./reset.css');
@import url('./header.css');

.gallery {
  margin-top: 75px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.gallery-image {
  width: 360px;
  height: 200px;
  transition: transform 0.3s;
}

.gallery-image:hover {
  transform: scale(1.07);
}

.feedback-form {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  width: 95px;
  height: 40px;
  border: 0;
  border-radius: 8px;
  background-color: #4e75ff;
  color: #fff;
  transition: background-color cubic-bezier(0.075, 0.82, 0.165, 1);
}

button:hover {
  background-color: #6c8cff;
}
